{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  {{/* Considere somente páginas com 'date' preenchido */}}
  {{ if .Date }}
  <time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }} class="post-date">{{ .Date.Format "2006-01-02" }}</time>
  {{ end }}
  {{ .Content }}
</div>

  {{/* Considere somente páginas com 'date' preenchido */}}
  {{ if .Date }}
  {{ partial "authorbox.html" . }}
  {{ end }}

{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}
