{{- if .Param "authorbox" }}
<div class="authorbox clearfix">
  {{- if and (not .Site.Author.avatar) (not .Site.Author.name) (not .Site.Author.bio) }}
  <p class="authorbox__warning">
  <strong>ATENÇÃO:</strong> Authorbox está ativado, mas os parâmetros de [Author] não foram preenchidos.
  </p>
  {{- end }}
  {{- with .Site.Author.avatar }}
  <figure class="authorbox__avatar">
    <img alt="{{ $.Site.Author.name }} avatar" src="{{ $.Site.Author.avatar | relURL }}" class="avatar" height="90" width="90">
  </figure>
  {{- end }}
  <div class="authorbox__header">
    <span class="authorbox__name">Sobre {{ .Site.Author.name }}</span>
  </div>
  {{- with .Site.Author.bio }}
  <div class="authorbox__description">
    {{ . }}
  </div>
  {{- end }}
</div>
{{- end }}
