<!-- Arquivo para sobrescrever o tema original -->
<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      {{ .Site.Params.description }}
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>

    <p>{{ .Site.Params.copyright }}<br /> &copy; {{ now.Format "2006"}}. Todos os direitos reservados.</p>
  </div>
</aside>
