/* Author Box - copiado de https://github.com/Vimux/mainroad */
.authorbox__description a {
  font-weight: 700;
}

.authorbox__description a:hover {
  text-decoration: underline;
}

.authorbox {
  padding: 25px 0;
  margin-bottom: 25px;
  line-height: 1.5;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.authorbox__avatar {
  float: left;
  padding: 3px;
  margin: 0 25px 0 0;
  border: 1px solid #ebebeb;
}

.authorbox__header {
  margin-bottom: 10px;
}

.authorbox__name {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 620px) {
  .authorbox {
    text-align: center;
  }

  .authorbox__avatar {
    display: inline-block;
    float: none;
    margin: 0 0 20px;
  }
}
